.flip-container {
    background-color: #fff;
    color: #111;
    perspective: 1000px;
    width: 240px;
    height: 180px;
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;

}

.flip-container:hover .flip-card {
    transform: rotateY(180deg);
}
.front,.back{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fdfdfd;
    color: #111;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    border-radius: 12px;
}
.back{
    transform: rotateY(180deg);
    background: #00ffd5;
    color: #111;

}