.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 15px 30px;

}
.logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.nav-links a{
    /* display: flex; */
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;

}
.nav-links {
    display: flex;
    

}
.nav-links a:hover {
    /* display: flex; */
    color: #00ffd5;
    

}
@media (max-width:600px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
    }
    .nav-links a{
        /* flex-direction: column;
        width: 100%; */
        margin: 10px 0;
    }
    
}