.main{
    width: 1000px;
    height: 540px;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid black;
    margin: 0px auto
}

/* 1em =16px */

.row1{
    width: 1000px;
    height: 100px;
    background-color: purple;
    color: aqua;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: capitalize;
    word-spacing: 25px;
    letter-spacing: 5px;
}
.row2{
    width: 1000px;
    height: 40px;
    background-color: yellow;
}
.row2c1{
    width: 184px;
    height: 40px;
    float: left;
    border: 2px solid black;
    background-color: yellowgreen;
    margin-left: 5px;
    margin-right: 5px;
}
.row3{
    width: 1000px;
    height: 200px;
    background-color: yellow;
}
.row-left{
    width: 250px;
    height: 200px;
    float: left;
    background-color: pink;
}
.row-right{
    width: 725px;
    height: 200px;
    float: left;
    background-color: aquamarine;
    border-left: 5px solid black;
    margin-left: 20px;
}
.row-left5{
    width: 250px;
    height: 40px;
    background-color: lawngreen;
}