.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    /* color: #00ffd5; */
    color: #fb923c;
    font-size: 22px;
    font-weight: bold;

}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #00ffd5;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

#login-btn {
    background: #fb923c;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 6px;
}

#login-btn:hover {
    color: #111;
    background: linear-gradient(135deg, #00ffd5, #00b3a4);
    box-shadow: 0 0 15px #fb923c;
    transform: scale(1.05);
}

/* Yeha se Hero Section Start h  */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

.hero-content {
    max-width: 520px;
}

.hero-content h1 {
    font-size: 42px;
    /* Qus */
    /* background: linear-gradient(135deg, #090979, #203a43, #2c5364); */
    background: linear-gradient(135deg, #aa7212, #b4c518, #66d010);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero-content p {
    color: #ddd;
    margin-bottom: 30px;
    line-height: 1.6;

}

/* .hero-content */
.hero-buttons button {
    padding: 12px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.3s;
}

.primary-btn {
    /* Qus */
    border-radius: 999px;
    background: #fb923c;
    color: #111;
    box-shadow: 0 0 15px rgba(0, 255, 213, 0.6);

}

.primary-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 255, 213, 0.9);
}

.secondary-btn {
    background: transparent;
    color: white;
    border: 1px solid #00ffd5;
}

.hero-image img {
    width: 420px;
    max-width: 100%;
}

@media (max-width:700px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        margin-top: 40px;
    }

}

.courses {
    padding: 80px 40px;
    background: #0f172a;
    color: white;
    text-align: center;
}

.courses h2 {
    font-size: 34px;
    margin-bottom: 10px;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    /* border-top: #00b3a4; */
    border-top: 3px solid #b9c62d;

    /* gap: 20px; */
    width: 280px;
    /* background: #020617; */
    /* background: transparent; */
    background: rgba(2, 6, 23, 0.7);
    backdrop-filter: blur(6px);

    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 255, 213, 0.15);
    transition: 0.3s;
    text-align: left;
}

.card h3 {
    margin-bottom: 10px;
    color: #c99314;

}

.card p {
    color: #cbd5f5;
    margin-bottom: 20px;
}

.card button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 999px;
    /* background: linear-gradient(135deg, #00ffd5, #38bdf8); */
    /* background: linear-gradient(135deg, #00ffd5, #38bdf8); */
    background: linear-gradient(135deg, #fb923c, #f97316);
    color: #020617;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    opacity: 0.9;
}


/* Footer kar rhe h bhai sharb */

.footer{
    background: #020617;
    color: white;
    padding: 60px 40px 20px;
}
.footer-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}
.footer-col{
    max-width: 220px;

}
.footer-col h3,.footer-col h4{
    color: #fb923c;
    margin-bottom: 10px;
}
.footer-col a{
    display: block;
    color: #cbd5f5;
    margin-bottom: 8px;
    text-decoration: none;
    transition: 0.3s;


}
.footer-col a:hover{
    color: #fb923c;
}
.footer-col input{
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px

}
.footer-col button{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background: #f97316;
    color: #111;
    cursor: pointer;
    font-weight: bold;
}
.footer-col button:hover{
    box-shadow: 0 0 12px #fb923c;
}

copyright{
    text-align: center;
    margin-top: 40px;
    color: #94a3b8;
}