*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: white;
    box-shadow: 2px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}
main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.lion img{
    width: 30%;
    height: 30%;
}