* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
.header{
    width: 100%;
    box-shadow: 0px 2px 10px 0px #ccc;
    display: flex;
}
.header-left{
    width: 48%;
    margin-left: 2px;
    display: flex;
    justify-content: space-between

}
.header-right{
    width: 45%;
}
.menu>ul{
    display: flex;
    gap: 20px;

}
/* .menu>ul li{
    display: flex;

} */
 .main >ul>li a{
    font-size: 14;
    color: black;
 }