:root {
  --gay: #212121;
  --green: #009660;
  --white: #e9e9e9;
  --black:#0c0c0c;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
}

html.body {
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--black);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.nav2 h4 {
  font-family: monospace;
  font-size: 15px;
  font-weight: 100;
}
.nav1 h4 {
  font-family: monospace;
  font-size: 15px;
  font-weight: 100px;
}
.nav1 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 900px;
}
.nav1 img {
  height: 50px;
}
.nav2 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav3 {
  display: none;
  gap: 30px;
  align-items: center;
}
.nav3 h4 {
  font-size: 16px;
  font-family: monospace;
  font-weight: 100;
}
.nav3 img {
  height: 25px;
  /* border-radius: 60%; */
  width: 25px;
  color: white;
  background: white;
}
@media (max-width: 600px) {
  nav {
    padding: 10px 302px;
  }
  .nav1 img {
    height: 30px;
  }
  .nav1 h4 {
    font-size: 12px;
  }
  .nav1 {
    display: flex;
  }
  .nav3 {
    display: none;
  }
}
main {
  padding-top: 100px;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  font-family: monospace;
}

.section1 .left{
    
    width: 40%;
}

.section1 .left .tags h4{
    background-color: var(--gay);
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
    
}
.left .Price{
    font-size: 20px;

}
.section1 .left .tags{
display: flex;
align-items: center;
justify-content: flex-end;
gap: 5px 5px;
flex-wrap: wrap;
}
.section1 .left h1{
    font-size:40px;
}
.section1 .right{
    /* background-color:rgb(0, 0, 209) ; */
}