*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html.body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;

}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px ;

    
}
.nav2 h4{
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
}
.nav1 h4{
    font-family: monospace;
    font-size: 15px;
    font-weight: 100px;
}
.nav1{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 900px;
}
.nav1 img{
    height: 50px;
}
.nav2{
    display: flex;
     gap: 30px;
     align-items: center;
}

.nav3{
    display: none;
    gap: 30px;
    align-items: center;
}
.nav3 h4{
    font-size: 16px;
    font-family: monospace;
    font-weight: 100;
}
.nav3 img{
    height: 25px;
    /* border-radius: 60%; */
    width: 25px;
    color: white;
    background: white;
}
@media (max-width :600px) {
    nav{

        padding: 10px 302px;
    }
    .nav1 img{
        height: 30px;
    }
    .nav1 h4{
        font-size:12px ;

    }
    .nav1{
        display: flex;
    }
    .nav3{
        display: none;
    }
    
}