*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.courses{
    padding: 60px 30px;
    background-color: #f4f6f8;
    text-align: center;

}
.courses h2{
    font-size: 32px;
    margin-bottom: 10px;

    
}
.subtitle{
    color: #555;
    margin-bottom: 40px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;

}
.card{
    background-color: #fff;
    width: 280px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: 0.3s ease ,box-shoadow 0.3s ease;
}
.card h3{
    margin-bottom: 10px;

}
.card p{
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}
.card button{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #111;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
@media (max-width:600px) {
    .card{
        width: 100%;
        max-width: 360px;
    }
    
}