.loader-weap{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.loader{
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid #00ffd5 ;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.loading-text{
  margin-top: 10px;
  color: #555;
  animation: fade 1.5s infinite;
}
@keyframes fade {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
@keyframes fade {
    0%{opacity: 0.3;}
    50%{opacity: 1;}
    100%{opacity: 0.3;}
    
}