.skeleton-card {
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.skeleton {
    background: linear-gradient(90deg, #333 25%, #444 37%, #333 63%);

    background-size: 400% 100%;
    animation: shimmer 1.4s infinite linear;
    border-radius: 6px;
    margin-bottom: 10px;

}

.title {
    height: 20px;
    width: 80%;
}

.text {
    height: 14px;
    width: 100%;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }

}